@tailwind base;
@tailwind components;
@tailwind utilities;

.rhap_container {
  background-color: #f3f4f6;
  box-shadow: none;
}

.rhap_play-pause-button {
  color: #8b5cf6;
  transition: color 0.2s ease-in-out;
}

.rhap_play-pause-button:hover {
  color: #7c3aed;
}

.rhap_progress-filled {
  background-color: #8b5cf6;
}

.rhap_progress-indicator {
  background: #7c3aed;
}

.rhap_volume-button {
  color: #8b5cf6;
}

.rhap_volume-bar {
  background: #e5e7eb;
}

.rhap_volume-indicator {
  background: #8b5cf6;
}
